div {
    border: 1px solid black;
    width: 901px;
    height: 901px;
    padding: 0;
    margin: 0;

}

#A1 {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    float: left;

}
#A2 {
    border: 1px solid black;
    width: 697px;
    height: 200px;
    padding: 0;
    margin: 0;
    float: left;
}

#B1{
    border: 1px solid black;
    width: 200px;
    height: 500px;
    padding: 0;
    margin: 0;
    float: left;
}

#B2{
    border: 1px solid black;
    width: 495px;
    height: 500px;
    padding: 0;
    margin: 0;
    float: left;

}